<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://uid.wtf">
    <meta property="og:title" content="Fluc: Your Data & Privacy">
    <meta property="og:image" content="https://uid.wtf/assets/media/logo.png">
    <meta property="og:description" content="Welcome to Fluc; The fastest bot on Discord awaits your command!">
    
    <title>Fluc: Your Data & Privacy</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
</head>
<body>
    <h1>Your Data & Privacy</h1>
    <br>
    <h2>How do we store data?</h2>
    <p>All user data (user ID, username, email, access tokens, refresh tokens) is stored in an encrypted database and locally on your computer.</p>
    <p>For additional security, we automatically delete your local data every week.</p>
    <br>
    <h2>How do we use your data?</h2>
    <p>We use this data to save your login information on the website.</p>
    <br>
    <h2>Scopes</h2>
    <p>When authorizing the bot, you might have noticed that it requires a few scopes.</p>
    <ul>
        <li>Identify (identify)</li>
        <li>Email (email)</li>
        <li>Add user to servers (guilds.join)</li>
    </ul>
    <p><b>identify</b> is used to access your Discord username and user ID.</p>
    <p><b>email</b> is used to prevent spam and log activity. We do <b>not</b> send emails to users.</p>
    <p><b>guilds.join</b> is used to add you to the bot server. If the server is deleted by Discord, we can use this to add you back to a new one.</p>
    <br>
    <h2>Lastly...</h2>
    <p>We do <b>not</b> sell user data. All data is stored in a private database that only three people have access to.</p>
    <p>All sensitive data is <b>encrypted</b>!</p>
    <br>
    <p id="bottom-text">Click <a href="/">here</a> to return to the main page.</p>
    <script src="/assets/js/script.js"></script>
</body>
</html>
