<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://uid.wtf">
    <meta property="og:title" content="Fluc: Forbidden">
    <meta property="og:image" content="https://uid.wtf/assets/media/logo.png">
    <meta property="og:description" content="Welcome to Fluc; The fastest bot on Discord awaits your command!">

    <title>Fluc: 403 Forbidden</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
</head>
<body>
    <h1>No permissions</h1>
    <p>You do not have permissions to view this page</p>
    <p id="bottom-text">Click <a href="/">here</a> to return to main page</p>
    <script src="/assets/js/script.js"></script>
</body>
</html>