<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://uid.wtf">
    <meta property="og:title" content="Fluc: Team">
    <meta property="og:image" content="https://uid.wtf/assets/media/logo.png">
    <meta property="og:description" content="Welcome to Fluc; The fastest bot on Discord awaits your command!">

    <title>Fluc: Team</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
</head>
<body>
    <h1>The Fluc team</h1>
    <h3>Lead Developers:</h3>
    <ul>
        <li><a href="https://discord.com/users/1347995638414970930" rel="noopener" target="_blank">bxod</a></dt>
        <li><a href="https://discord.com/users/1298791599463071806" rel="noopener" target="_blank">LynoConfigs</a></dt>
    </ul>
    <h3>Top Sponsors:</h3>
    <ul>
        <li><a href="https://discord.com/users/1007170569701163008" rel="noopener" target="_blank">qxod</a></dt>
    </ul>
    <p id="bottom-text">Click <a href="/">here</a> to return to main page</p>
    <script src="/assets/js/script.js"></script>
</body>
</html>